# Pandas Assignmenet 2(B)

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   Each line corresponds to one day of data in the following format:
year, month, day, average wind speed at each of the stations in the order given

 RPT, VAL, ROS, KIL, SHA, BIR, DUB, CLA, MUL, CLO, BEL, MAL

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import datetime
import io
import requests

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

In [3]:
url='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')),delim_whitespace=True)

In [4]:
df

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [5]:
# cols = ['Yr', 'Mo', 'Dy']
#data['Date'] = data[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis='columns')
#data['Date'] = pd.to_datetime(df['Date'])
#data = data.drop(columns=['Yr','Mo','Dy'])

In [6]:
data=df.copy()
data['Date']=df['Dy'].astype('str')+'-'+df['Mo'].astype('str')+"-"+df['Yr'].astype('str')
data['Date']=pd.to_datetime(data['Date'])
data.drop(['Yr','Mo','Dy'],axis=1,inplace=True)
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-02-01
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-03-01
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2061-04-01
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,2061-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
6570,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

In [7]:
data.iloc[[0,1,2,-2,-1]]

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-02-01
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-03-01
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

In [8]:
data.dtypes

RPT            float64
VAL            float64
ROS            float64
KIL            float64
SHA            float64
BIR            float64
DUB            float64
CLA            float64
MUL            float64
CLO            float64
BEL            float64
MAL            float64
Date    datetime64[ns]
dtype: object

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [9]:
def fix_date(x):
    if x.year > 1979:
        year = x.year - 100
    else:
        year = x.year
    return datetime.date(year,x.month,x.day)
data['Date'] = data['Date'].apply(fix_date)
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-02-01
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-03-01
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-04-01
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
6570,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

In [10]:
data.dtypes

RPT     float64
VAL     float64
ROS     float64
KIL     float64
SHA     float64
BIR     float64
DUB     float64
CLA     float64
MUL     float64
CLO     float64
BEL     float64
MAL     float64
Date     object
dtype: object

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [11]:
data['Date'] = pd.to_datetime(data['Date'])

In [12]:
data.set_index('Date',inplace=True)
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-02-01,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-03-01,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-04-01,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-05-01,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6574 entries, 1961-01-01 to 1978-12-31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RPT     6568 non-null   float64
 1   VAL     6571 non-null   float64
 2   ROS     6572 non-null   float64
 3   KIL     6569 non-null   float64
 4   SHA     6572 non-null   float64
 5   BIR     6574 non-null   float64
 6   DUB     6571 non-null   float64
 7   CLA     6572 non-null   float64
 8   MUL     6571 non-null   float64
 9   CLO     6573 non-null   float64
 10  BEL     6574 non-null   float64
 11  MAL     6570 non-null   float64
dtypes: float64(12)
memory usage: 667.7 KB

In [14]:
data.count() #gives non null values

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [15]:
data.notna().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [16]:
data.isna().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [17]:
print(f"total count of missing values: {data.isna().sum().sum()}")

total count of missing values: 31

In [18]:
data.dropna(inplace=True)
data.isna().sum()

RPT    0
VAL    0
ROS    0
KIL    0
SHA    0
BIR    0
DUB    0
CLA    0
MUL    0
CLO    0
BEL    0
MAL    0
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [19]:
data.notna().sum()

RPT    6546
VAL    6546
ROS    6546
KIL    6546
SHA    6546
BIR    6546
DUB    6546
CLA    6546
MUL    6546
CLO    6546
BEL    6546
MAL    6546
dtype: int64

In [20]:
print(f'total non missing values are:{data.notna().sum().sum()}')

total non missing values are:78552

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [21]:
average=data.mean()
average

RPT    12.359979
VAL    10.640267
ROS    11.656396
KIL     6.298587
SHA    10.448923
BIR     7.085066
DUB     9.793006
CLA     8.486601
MUL     8.490257
CLO     8.696705
BEL    13.110668
MAL    15.603129
dtype: float64

In [22]:
average.mean()

10.222465245951712

In [23]:
data.mean().mean()

10.222465245951712

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [24]:
min_value=data.min()
max_value=data.max()
mean_value=data.mean()
std_value=data.std()
loc_stats=pd.concat([min_value,max_value,mean_value,std_value],axis=1)
loc_stats.rename(columns={0:'min',1:'max',2:'mean',3:'std'})

      min    max       mean       std
RPT  0.67  35.80  12.359979  5.618805
VAL  0.21  33.37  10.640267  5.268695
ROS  1.50  33.84  11.656396  5.007805
KIL  0.00  28.46   6.298587  3.600942
SHA  0.13  37.54  10.448923  4.933988
BIR  0.00  26.16   7.085066  3.967735
DUB  0.00  30.37   9.793006  4.978030
CLA  0.00  31.08   8.486601  4.498299
MUL  0.00  25.88   8.490257  4.165947
CLO  0.04  28.21   8.696705  4.500488
BEL  0.13  42.38  13.110668  5.829054
MAL  0.67  42.54  15.603129  6.702178

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [25]:
data1=data.transpose()
data1

Date,1961-04-01,1961-05-01,1961-06-01,1961-07-01,1961-08-01,1961-09-01,1961-10-01,1961-11-01,1961-12-01,1961-01-13,...,1978-12-22,1978-12-23,1978-12-24,1978-12-25,1978-12-26,1978-12-27,1978-12-28,1978-12-29,1978-12-30,1978-12-31
RPT,10.58,13.33,13.21,13.50,10.96,12.58,13.37,10.58,19.75,9.92,...,6.21,16.62,8.67,7.21,13.83,17.58,13.21,14.00,18.50,20.33
VAL,6.63,13.25,8.12,14.29,9.75,10.83,11.12,9.87,12.08,3.54,...,7.38,13.29,5.63,6.58,11.87,16.96,5.46,10.29,14.04,17.41
ROS,11.75,11.42,9.96,9.50,7.62,10.00,19.50,8.42,18.50,8.46,...,13.08,22.21,12.12,7.83,10.34,17.62,13.46,14.42,21.29,27.29
KIL,4.58,6.17,6.67,4.96,5.91,4.75,8.33,2.79,10.54,2.96,...,2.54,9.50,4.79,2.67,2.37,8.08,5.00,8.71,9.13,9.59
SHA,4.54,10.71,5.37,12.29,9.62,10.37,9.71,8.71,10.29,2.29,...,7.58,14.29,5.09,4.79,6.96,13.21,8.12,9.71,12.75,12.08
BIR,2.88,8.21,4.50,8.33,7.29,6.79,6.54,7.25,9.46,0.96,...,5.33,13.08,5.91,4.58,4.29,11.67,9.42,10.54,9.71,10.13
DUB,8.63,11.92,10.67,9.17,14.29,8.04,11.42,7.54,15.54,4.63,...,2.46,16.50,12.25,8.71,1.96,14.46,14.33,19.17,18.08,19.25
CLA,1.79,6.54,4.42,9.29,7.62,10.13,7.79,8.33,11.50,0.58,...,8.38,17.16,9.25,0.75,3.79,15.59,16.25,12.46,12.87,11.63
MUL,5.83,10.92,7.17,7.58,9.25,7.79,8.54,5.71,10.37,2.33,...,5.09,12.71,10.83,5.21,3.04,14.04,15.25,14.50,12.46,11.58
CLO,5.88,10.34,7.50,7.96,10.46,9.08,9.00,8.67,14.58,3.37,...,5.04,12.00,11.71,5.25,3.08,14.00,18.05,16.42,12.12,11.38
BEL,5.46,12.92,8.12,13.96,16.62,13.04,8.58,20.71,15.59,5.25,...,9.92,18.50,11.92,1.21,4.79,17.21,21.79,18.88,14.67,12.08
MAL,10.88,11.83,13.17,13.79,16.46,15.37,11.83,16.92,14.09,7.04,...,11.00,21.50,31.71,13.96,11.96,40.08,41.46,29.58,28.79,22.08

In [26]:
min_value=data1.min()
max_value=data1.max()
mean_value=data1.mean()
std_value=data1.std()
day_stats=pd.concat([min_value,max_value,mean_value,std_value],axis=1)
day_stats.rename(columns={0:'min',1:'max',2:'mean',3:'std'})

             min    max       mean       std
Date
1961-04-01  1.79  11.75   6.619167  3.198126
1961-05-01  6.17  13.33  10.630000  2.445356
1961-06-01  4.42  13.21   8.240000  2.998063
1961-07-01  4.96  14.29  10.385000  3.072114
1961-08-01  5.91  16.62  10.487500  3.547237
...          ...    ...        ...       ...
1978-12-27  8.08  40.08  16.708333  7.868076
1978-12-28  5.00  41.46  15.150000  9.687857
1978-12-29  8.71  29.58  14.890000  5.756836
1978-12-30  9.13  28.79  15.367500  5.540437
1978-12-31  9.59  27.29  15.402500  5.702483

[6546 rows x 4 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [28]:
Jan1 = data.loc['1961-01']
Jan2 =  data.loc['1962-01']
final = pd.concat([Jan1,Jan2])
for i in final.columns:
    print(f'Average windspeed for "{i}" for Jan-61 and Jan-62 is: {round(final[i].mean(),2)}')

Average windspeed for "RPT" for Jan-61 and Jan-62 is: 13.79
Average windspeed for "VAL" for Jan-61 and Jan-62 is: 11.32
Average windspeed for "ROS" for Jan-61 and Jan-62 is: 11.98
Average windspeed for "KIL" for Jan-61 and Jan-62 is: 7.19
Average windspeed for "SHA" for Jan-61 and Jan-62 is: 11.01
Average windspeed for "BIR" for Jan-61 and Jan-62 is: 8.19
Average windspeed for "DUB" for Jan-61 and Jan-62 is: 11.22
Average windspeed for "CLA" for Jan-61 and Jan-62 is: 8.91
Average windspeed for "MUL" for Jan-61 and Jan-62 is: 8.68
Average windspeed for "CLO" for Jan-61 and Jan-62 is: 10.04
Average windspeed for "BEL" for Jan-61 and Jan-62 is: 13.92
Average windspeed for "MAL" for Jan-61 and Jan-62 is: 14.02

### Step 12. Downsample the record to a yearly frequency for each location.

In [29]:
yearly = round(data.resample('Y').mean(),2)
yearly

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-12-31,12.21,10.21,11.28,6.85,10.74,7.62,9.63,8.68,8.57,9.70,13.27,13.59
1962-12-31,12.27,10.15,11.71,6.96,10.69,7.42,11.04,8.83,8.34,9.69,12.99,14.36
1963-12-31,12.81,10.84,12.54,7.33,11.72,8.43,11.08,10.34,8.90,10.22,13.64,15.00
1964-12-31,12.36,10.92,12.10,6.79,11.45,7.57,10.26,9.47,7.79,10.21,13.74,14.91
1965-12-31,12.45,11.08,11.85,6.86,11.02,7.48,10.62,8.88,7.91,9.92,12.96,15.59
1966-12-31,13.46,11.56,12.02,7.35,11.81,7.79,10.58,8.84,8.51,9.77,14.27,16.31
1967-12-31,12.74,10.99,11.74,7.14,11.63,7.37,10.65,9.33,8.65,9.55,14.77,17.14
1968-12-31,11.84,10.47,11.41,6.48,10.76,6.07,8.86,8.26,7.22,7.83,12.81,15.02
1969-12-31,11.17,9.72,10.90,5.77,9.87,6.19,8.56,7.71,7.92,7.75,12.62,15.76
1970-12-31,12.60,10.73,11.73,6.22,10.57,7.61,9.61,8.33,9.30,8.29,13.18,16.46
1971-12-31,11.27,9.10,11.09,5.24,9.44,6.10,8.39,6.76,7.92,7.23,12.21,15.03
1972-12-31,12.46,10.56,12.06,5.93,9.43,6.36,9.70,7.68,8.36,7.52,12.73,15.03
1973-12-31,11.83,10.68,10.68,5.55,9.64,6.55,8.48,7.61,8.25,7.81,12.17,15.44
1974-12-31,13.64,11.81,12.34,6.43,11.11,6.81,10.08,9.90,9.33,8.74,13.25,16.95
1975-12-31,12.01,10.29,11.56,5.27,9.19,5.67,8.56,7.84,8.80,7.38,12.63,15.31
1976-12-31,11.74,10.20,10.76,5.11,8.85,6.31,9.15,7.15,8.88,7.88,12.33,15.47
1977-12-31,13.10,11.14,12.63,6.07,10.00,8.59,11.52,8.38,9.10,8.82,13.46,16.59
1978-12-31,12.50,11.04,11.38,6.08,10.17,7.65,9.49,8.80,9.09,8.30,12.97,16.77

### Step 13. Downsample the record to a monthly frequency for each location.

In [30]:
monthly = round(data.resample('M').mean(),2)
monthly

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-31,13.82,10.65,11.98,6.92,10.75,8.04,9.50,8.51,8.09,8.86,12.60,12.79
1961-02-28,13.83,12.12,11.73,8.03,12.43,9.43,9.95,9.85,10.22,11.55,15.14,14.54
1961-03-31,11.28,10.31,10.72,6.77,10.18,8.05,10.10,8.97,9.74,10.44,14.82,15.52
1961-04-30,10.89,9.14,9.41,6.14,8.61,6.21,7.49,7.16,7.27,7.86,11.30,10.63
1961-05-31,10.73,8.73,10.58,5.94,9.31,6.54,7.54,7.91,8.15,8.75,11.73,12.53
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08-31,9.97,8.52,9.55,4.63,7.74,6.33,6.56,6.61,7.81,6.72,11.42,14.04
1978-09-30,11.48,11.27,11.16,5.81,10.68,8.48,10.68,9.78,9.85,9.13,15.94,19.31
1978-10-31,9.69,9.23,9.27,4.80,8.45,6.62,8.18,7.25,7.79,7.62,13.43,15.56
1978-11-30,16.39,13.45,13.44,7.34,11.39,8.66,11.10,9.31,10.54,9.99,15.27,19.50
1978-12-31,13.39,10.46,13.48,5.69,9.07,6.95,9.79,8.28,8.42,8.52,11.38,18.51

### Step 14. Downsample the record to a weekly frequency for each location.

In [31]:
weeks = round(data.resample('W').mean(),2)
weeks

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-08,11.87,9.48,9.67,6.71,10.53,7.16,8.74,7.57,7.99,7.60,10.96,9.37
1961-01-15,10.53,7.68,8.92,4.22,6.83,4.06,5.86,5.20,4.98,6.01,9.21,8.52
1961-01-22,12.10,9.50,11.68,4.29,8.97,6.94,7.83,7.29,5.89,6.69,9.99,10.35
1961-01-29,19.88,14.85,17.55,11.92,16.32,14.02,14.45,14.31,13.32,14.92,19.80,22.39
1961-02-05,15.97,14.05,11.47,7.65,12.58,9.06,11.14,8.28,9.69,9.95,14.24,13.30
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-03,12.92,7.97,12.40,4.15,7.32,5.04,7.19,5.06,6.53,6.23,8.36,15.28
1978-12-10,10.40,7.94,9.57,5.15,8.21,6.65,6.76,6.70,6.82,6.40,10.39,12.95
1978-12-17,16.78,14.65,14.46,6.74,11.07,6.80,10.23,7.91,8.98,8.47,11.72,16.45
1978-12-24,11.16,8.01,13.17,4.00,7.83,6.29,7.80,8.67,7.15,8.07,11.85,18.98
1978-12-31,14.95,11.80,16.04,6.51,9.66,8.62,13.71,10.48,10.87,11.47,12.95,26.84

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [32]:
filter_days = data.loc['1961-01-02':'1962-01-01']   #there are 52 weeks in a year
weekly_min = filter_days.resample('W').min()
weekly_max = filter_days.resample('W').max()
weekly_mean = round(filter_days.resample('W').mean())
weekly_std = round(filter_days.resample('W').std())
print(f'Weekly Min\n{weekly_min.min(axis = 1)}')
print(f'\nWeekly Max\n{weekly_max.max(axis = 1)}')
print(f'\nWeekly Mean\n{weekly_mean.mean(axis = 1)}')
print(f'\nWeekly Std\n{weekly_std.std(axis = 1)}')

Weekly Min
Date
1961-01-08    3.63
1961-01-15    0.50
1961-01-22    1.04
1961-01-29    6.04
1961-02-05    3.67
1961-02-12    2.42
1961-02-19    3.42
1961-02-26    2.21
1961-03-05    4.12
1961-03-12    1.79
1961-03-19    2.75
1961-03-26    2.58
1961-04-02    1.46
1961-04-09    1.25
1961-04-16    1.04
1961-04-23    0.83
1961-04-30    1.38
1961-05-07    3.42
1961-05-14    2.83
1961-05-21    3.17
1961-05-28    1.63
1961-06-04    2.83
1961-06-11    3.04
1961-06-18    1.58
1961-06-25    2.88
1961-07-02    4.96
1961-07-09    2.88
1961-07-16    3.25
1961-07-23    1.46
1961-07-30    2.21
1961-08-06    1.71
1961-08-13    2.50
1961-08-20    6.83
1961-08-27    3.96
1961-09-03    2.37
1961-09-10    3.37
1961-09-17    1.42
1961-09-24    1.46
1961-10-01    5.79
1961-10-08    1.04
1961-10-15    1.33
1961-10-22    3.75
1961-10-29    1.71
1961-11-05    1.58
1961-11-12    1.87
1961-11-19    0.63
1961-11-26    3.29
1961-12-03    1.92
1961-12-10    2.88
1961-12-17    3.54
1961-12-24    0.58
1961-12-31    0.42
1962-01-07    1.96
Freq: W-SUN, dtype: float64

Weekly Max
Date
1961-01-08    18.63
1961-01-15    20.17
1961-01-22    17.75
1961-01-29    27.63
1961-02-05    24.21
1961-02-12    23.58
1961-02-19    28.62
1961-02-26    25.80
1961-03-05    23.45
1961-03-12    23.13
1961-03-19    22.95
1961-03-26    22.50
1961-04-02    18.63
1961-04-09    20.25
1961-04-16    22.83
1961-04-23    21.09
1961-04-30    17.50
1961-05-07    22.00
1961-05-14    29.33
1961-05-21    15.96
1961-05-28    17.04
1961-06-04    26.38
1961-06-11    28.08
1961-06-18    25.25
1961-06-25    21.50
1961-07-02    19.92
1961-07-09    26.63
1961-07-16    22.50
1961-07-23    12.67
1961-07-30    25.37
1961-08-06    26.30
1961-08-13    20.54
1961-08-20    24.30
1961-08-27    23.38
1961-09-03    24.71
1961-09-10    20.96
1961-09-17    33.09
1961-09-24    20.96
1961-10-01    20.30
1961-10-08    20.50
1961-10-15    23.71
1961-10-22    33.45
1961-10-29    25.12
1961-11-05    22.71
1961-11-12    25.62
1961-11-19    32.71
1961-11-26    22.58
1961-12-03    25.41
1961-12-10    23.91
1961-12-17    21.12
1961-12-24    24.41
1961-12-31    29.33
1962-01-07    11.54
Freq: W-SUN, dtype: float64

Weekly Mean
Date
1961-01-08     9.083333
1961-01-15     6.916667
1961-01-22     8.500000
1961-01-29    16.083333
1961-02-05    11.416667
1961-02-12     9.250000
1961-02-19    13.666667
1961-02-26    12.583333
1961-03-05    10.916667
1961-03-12     9.583333
1961-03-19    11.833333
1961-03-26    10.500000
1961-04-02     9.833333
1961-04-09     9.083333
1961-04-16     7.250000
1961-04-23    10.166667
1961-04-30     7.416667
1961-05-07    11.083333
1961-05-14    10.416667
1961-05-21     7.500000
1961-05-28     6.500000
1961-06-04     9.583333
1961-06-11    10.833333
1961-06-18    10.500000
1961-06-25     9.750000
1961-07-02    10.750000
1961-07-09     9.250000
1961-07-16    11.916667
1961-07-23     5.333333
1961-07-30     9.416667
1961-08-06    11.166667
1961-08-13     9.833333
1961-08-20    12.583333
1961-08-27    11.916667
1961-09-03    11.583333
1961-09-10     9.583333
1961-09-17    12.916667
1961-09-24     7.500000
1961-10-01    11.416667
1961-10-08     7.500000
1961-10-15     9.416667
1961-10-22    15.500000
1961-10-29    11.166667
1961-11-05    11.083333
1961-11-12    10.750000
1961-11-19     7.750000
1961-11-26     9.000000
1961-12-03    12.250000
1961-12-10    10.500000
1961-12-17    11.583333
1961-12-24     9.416667
1961-12-31     9.750000
1962-01-07     5.500000
Freq: W-SUN, dtype: float64

Weekly Std
Date
1961-01-08    0.937437
1961-01-15    0.953463
1961-01-22    0.651339
1961-01-29    0.668558
1961-02-05    1.676486
1961-02-12    0.996205
1961-02-19    1.206045
1961-02-26    0.792961
1961-03-05    1.422226
1961-03-12    1.243163
1961-03-19    0.792961
1961-03-26    0.834847
1961-04-02    0.996205
1961-04-09    1.240112
1961-04-16    1.240112
1961-04-23    0.996205
1961-04-30    0.778499
1961-05-07    1.164500
1961-05-14    1.484771
1961-05-21    0.984732
1961-05-28    0.887625
1961-06-04    1.073087
1961-06-11    1.044466
1961-06-18    1.267304
1961-06-25    0.577350
1961-07-02    0.668558
1961-07-09    1.422226
1961-07-16    0.778499
1961-07-23    0.668558
1961-07-30    1.240112
1961-08-06    0.953463
1961-08-13    1.114641
1961-08-20    0.717741
1961-08-27    1.311372
1961-09-03    0.674200
1961-09-10    1.193416
1961-09-17    1.154701
1961-09-24    1.087115
1961-10-01    1.356801
1961-10-08    1.230915
1961-10-15    0.792961
1961-10-22    1.164500
1961-10-29    1.164500
1961-11-05    0.717741
1961-11-12    1.138180
1961-11-19    1.975225
1961-11-26    1.564279
1961-12-03    1.073087
1961-12-10    1.928652
1961-12-17    0.900337
1961-12-24    1.073087
1961-12-31    2.020726
1962-01-07         NaN
Freq: W-SUN, dtype: float64